.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #111827;
  color: white;
}

.input-wrapper {
  display: flex;
  margin-bottom: 1rem;
  text-align: center;
}

.graph-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1rem;
  color: #111827;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  border: 2px solid transparent;
  transition: border 0.2s ease-in-out;
  margin-right: 10px;
}

.graph-input:focus {
  border: 2px solid #6366f1;
}

.graph-display {
  width: 100%;
  max-width: 700px;
  height: 500px;
  background-color: #1f2937;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.graph-network {
  width: 100%;
  height: 100%;
}

.graph__button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #6366f1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: #4338ca;
  }
}

.graph__title {
  margin-bottom: 20px;
}